body {
    margin: 0;
    font-family: "Apple SD Gothic Neo", "Malgun Gothic", "Segoe UI", "Roboto",
        Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fafbfc;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
